#navbar{
    list-style: none;
    display: flex;
    padding-left: 10%;
}
.nav-item{
    padding-left: 10%;
    text-decoration: none;
}
section{
    padding-left: 10%  ;

}
a{
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
form{
    padding-left: 20%;
    padding-top: 5%;
}
